<h1>Add a new exercise</h1>
<% if @message %>
  <p style="color: red"><%= @message %></p>
<% end %>

<div class="ui form">
  <div class="fields">
    <%= form_for(@exercise, html: {class: 'ui_form', }) do |f| %>
    <div class="field">
    <%= f.label(:name, "Type the Name of the Exercise Below") %>
    <%= f.text_field :name %>
    </div><br>
    <button class="ui primary basic button">
     Create an Exercise </button>
  <% end %>
  </div>
</div>